<a href="https://colab.research.google.com/github/kimm55263/class2021Fall/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

In [ ]:
a = [1, 2, 3, 4] # for는 같은 패턴을 여러 번 반복을 해 줌
for i in a: # 리스트 a에 있는 것들 4개를 가지고, 첫 번째 것부터 제일 끝에 있는 것까지 i 변수에 넣어 줘라 for loop
# print(a[0])
# print(a[1])
  print(i) 
print(i+1) #시험 문제, 위에는 1,2,3,4찍음, 마지막에 찍었던 4가 내려와서 4+1=5가 되었음

1
2
3
4
5

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)): # range가 도는 것
    print(a[i])

1
2
3
4

In [ ]:
a = [1, 2, 3, 4]

len(a) #component의 개수를 출력해 줌, 셀 마지막 부분은 print를 하지 않아도 마지막 부분만 출력함

b = len(a)
b

4

In [ ]:
# a = [1, 2, 3, 4]
# a를 받지 않고, 숫자로 만들겠다
# for i in range (4) : # range 4 (0,1,2,3)이 만들어지는 것
    # print(i)

# a = [1, 2, 3, 4]
# for i in range(4): #4번 도는 것
  # print(a[i])

a = [1, 2, 3, 4]
for i in range(len(a)): #4번 도는 것, 4이상을 넣으면 없는 index -> error가 뜸
  print(a[i])

1
2
3
4

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)): # a의 개수를 계산해줌, 그리고 그 숫자 따라 출력이 됨
    print(a[i])

red
green
blue
purple

여기서부터 if

In [ ]:
a = 0
if a == 0:
    print(a)
else:
    print(a+1)

0

In [ ]:
a = 2 # 하나는 content를 assign
if a == 0: # 진짜 equal sign
  print(a) 
else:
  print(a+1)

3

In [ ]:
for i in range(1, 3): # outer loop는 1, 2해서 2번 돌게 되는 것, 총 print outdms 4번찍히게 되는 것
    for j in range(3, 5): # i가 1인 상태에서 2번 돌아가게 되는 것 시험문제, inner loop는 3, 4해서 2번 돌아가게 됨
        print(i*j)

3
4
6
8

In [ ]:
 for i in range(4):
    print(i)

for i in range (1, 3):
  print(i)

0
1
2
3
1
2

In [ ]:
for i in range(1, 3): # 1, 2 돌고
    for j in range(3, 5): # 3, 4 돌고 
        if j >=4: 
            print(i*j) 

            # for i in range(1, 3): # 1, 2 돌고
               # for j in range(3, 5): # 3, 4 돌고 
               # if j >=4:  # indent가 이렇게 되어 있어면 outer for에 포함된 것
            # print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2] # 리스트를 만들어 주기 위해서 사용을 하게 됨
print(b)

for i in a :
  if i >=2 :
    print(i)

[2, 3, 4]
2
3
4

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

In [ ]:
i for i in a # red~purple다 넣어라 조건: 그 다음 글자수가 4이상일 경우 i에 넣어라

In [21]:
len('test')

4