<a href="https://colab.research.google.com/github/kimm55263/class2021Fall/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

제일 **처음** 해 보는 코딩입니다. 
변수 (variables), 제어문 (syntax), 함수 (function)

In [ ]:
a = 1 # 변수는 equal sign이 아니라, 변수 a에 1이라는 값을 assign해 준다.
b = 'hello' # 변수에는 글자도 넣을 수 있다. 글자의 내용을 표현할 때는 text, string이라고도 하나 single quote를 사용한다.
c = 1.1
d = [1, 'abc', 2.1] # 대괄호를 사용하면 tuple이 나옴
e = {'a': 'apple'}
f = {'apple': 'red fruit', 'banana': 'yellow fruit'}

# print(a)
# print(b)
# print(c)
# print(d)

# type(a) #integer int
# ype(b) #string str
# type(c) #float

# print(type(a))
# print(type(b))
# print(type(c))
# print(type(d))
print(type(e))

print(b[0]) #python에서는 첫 번째가 0번째인 것. b에 들어가 있는 첫번째 단어를 찍어라
print(b[0:2]) #0번째와 2-1번째 단어까지 출력
print(d[1])
print(d[1][1])
print(f['apple']) # f 앞에 숫자를 넣어서 access를 하는 것이 아니아 표제어, keyword를 넣어 access를 해라 딕트 타입의 특징
print(f['banana'])

<class 'dict'>
h
he
abc
b
red fruit
yellow fruit

In [1]:
a = [1,'a', [3, '4']]; # 시험 문제
print(type(a)); 
print(a[0]); 
print(a[1]); 
print(a[2]); 
print(a[2][1])

<class 'list'>
1
a
[3, '4']
4

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014} # 리스트로는 a = ['apple', 'orange', 'c': 2014]
print(type(a))
print(a["a"])